<div class="container-fluid p-5">
  <div class="row">
    <div class="col-12">
      <form #f2="ngForm" (submit)="onSubmit(f2)">
        <ngx-input hint="sdhsfhskdfk" type="number" #xx="ngModel" [(ngModel)]="formValues.x" [form]="f2" validators="required" name="X"></ngx-input>
        <ngx-input type="number" #yy="ngModel" [(ngModel)]="formValues.y" [form]="f2" [validators]="[ 'required', { type: 'lte', value: formValues.x } ]" name="Y"></ngx-input>
        <ngx-checkbox [(ngModel)]="formValues.premium" [form]="f2" name="Premium"></ngx-checkbox>
        <ngx-date [(ngModel)]="formValues.date" [form]="f2" validators="required" name="Date"></ngx-date>
        <ngx-input [(ngModel)]="formValues.serviceName" [form]="f2" validators="required" name="Service Name"></ngx-input>
        <ngx-password [(ngModel)]="formValues.password" [form]="f2" validators="required" name="Password"></ngx-password>
        <ngx-radio [(ngModel)]="formValues.radio" [form]="f2" name="Radio"></ngx-radio>
        <ngx-select [(ngModel)]="formValues.select" [form]="f2" validators="required" name="Select" [options]="[{ title: 'X', value: 'x' }, { title: 'Y', value: 'y' }]"></ngx-select>
        <ngx-select [(ngModel)]="formValues.selectMultiple" [form]="f2" validators="required" name="Select Multiple" [multiple]="true" [options]="[{ title: 'X', value: 'x' }, { title: 'Y', value: 'y' }]"></ngx-select>
        <ngx-checkbox [(ngModel)]="formValues.premium" [form]="f2" name="Premium"></ngx-checkbox>
        <ngx-textarea [(ngModel)]="formValues.textarea" [form]="f2" validators="required" name="Textarea"></ngx-textarea>
        <ngx-time [(ngModel)]="formValues.time" [form]="f2" validators="required" name="Time"></ngx-time>
        <ngx-wysiwyg [(ngModel)]="formValues.wysiwyg" [form]="f2"  [validators]="{ type: 'maxLength', value: 50 }" name="HTML"></ngx-wysiwyg>
        {{formValues.wysiwyg}}
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<div class="container-fluid p-5">
  <div class="row">
    <div class="col-12">
      <h3>WYSIWYG</h3>
    </div>
    <div class="col-12">
      <form #f="ngForm">
        <ngx-trumbowyg-editor #dfsfsf="editor" name="editor" [(ngModel)]="model"></ngx-trumbowyg-editor>
        {{ model }}
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>Roles</h3>
    </div>
    <div class="col-12">
      <ng-template [ngxRolesIf]="'serviceProvider'"><p>ServiceProvider</p></ng-template>
    </div>
  </div>
</div>
<div class="container-fluid p-5">
  <div class="row">
    <div class="col-12">
      <h3>Avatar</h3>
    </div>
    <ng-template ngFor [ngForOf]="avatars" let-avatar>
      <ngx-avatar [rounded]="false" [upload]="avatar.upload" [size]="avatar.size" [margin]="avatar.margin" [label]="avatar.label" [disabled]="avatar.disabled" [name]="avatar.name" [randomColor]="avatar.randomColor" [image]="avatar.image" [textColor]="avatar.textColor" [bgColor]="avatar.bgColor"></ngx-avatar>
    </ng-template>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>Rights</h3>
    </div>
    <ng-template ngFor [ngForOf]="tests" let-test>
      <div class="col-12 d-flex mb-2">
        <h5 class="mr-2">
          Test <code>{{ test }}</code> against <code>{{ rights | json }}</code>
        </h5>
        <h4 *ngxRightsIf="test; else elseTemplate" class="text-success font-weight-bold">True</h4>
        <ng-template #elseTemplate>
          <h4 class="text-danger font-weight-bold">False</h4>
        </ng-template>
      </div>
    </ng-template>
  </div>
</div>

<div class="container-fluid p-5">
  <div class="row">
    <div class="col-12">
      <h3>Datepicker</h3>
    </div>
    <div class="form-group">
      <input [(ngModel)]="date" (onChange)="change($event)" [minDate]="min" class="form-control" ngxFlatpickr>
    </div>
    <div class="form-group">
      <input [(ngModel)]="date2" [minDate]="date" class="form-control" ngxFlatpickr>
    </div>
    <div class="col-12">
      Value: {{date}}
    </div>
  </div>
</div>
<div class="container-fluid p-5">
  <div class="row">
    <div class="col-12">
      <h3>Timepicker</h3>
    </div>
    <div class="form-group">
      <input [(ngModel)]="time" (onChange)="change($event)" class="form-control" ngxTimepicker>
    </div>
    <div class="col-12">
      Value: {{time}}
    </div>
  </div>
</div>
