<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Third Line</span> <span class="spacer"></span>
    <button routerLink="avatar" mat-button>Avatar</button>
    <button routerLink="speed-dial" mat-button>Speed Dial</button>
    <button routerLink="calendar" mat-button>Calendar</button>
    <button routerLink="select" mat-button>Select</button>
    <button routerLink="chip" mat-button>Chip Select</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container-fluid p-5">
  <router-outlet></router-outlet>
</div>
