@import '~@angular/material/theming';

@include mat-core();
$app-primary: mat-palette($mat-blue, 700, 300, 900);
$app-accent: mat-palette($mat-blue, A400, A200, A700);
$app-warn: mat-palette($mat-red, 700, 300, 900);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);

* {
  font-family: sans-serif;
}

@import '~daemonite-material/assets/scss/colors';
$highlight-color: $material-color-blue-700;
@import "~@ng-select/ng-select/scss/material.theme";

$primary: (
  color: $material-color-light-blue-400,
  dark: $material-color-light-blue-800,
  light: $material-color-light-blue-200
);

$secondary: (
  color: $material-color-light-blue-a400,
  dark: $material-color-light-blue-a700,
  light: $material-color-light-blue-a200
);

$border-color: $material-color-grey-200;
@import '~daemonite-material/assets/scss/material';

.invalid-feedback {
  display: block;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
