@import '~@angular/material/theming';

@include mat-core();
$app-primary: mat-palette($mat-blue, 700, 300, 900);
$app-accent: mat-palette($mat-blue, A400, A200, A700);
$app-warn: mat-palette($mat-red, 700, 300, 900);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);

* {
  font-family: sans-serif;
}

@import '~daemonite-material/assets/scss/colors';
$highlight-color: $material-color-blue-700;
@import "~@ng-select/ng-select/scss/material.theme";

$primary: (
  color: $material-color-light-blue-400,
  dark: $material-color-light-blue-800,
  light: $material-color-light-blue-200
);

$secondary: (
  color: $material-color-light-blue-a400,
  dark: $material-color-light-blue-a700,
  light: $material-color-light-blue-a200
);

$border-color: $material-color-grey-200;
@import '~daemonite-material/assets/scss/material';

.invalid-feedback {
  display: block;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


mat-form-field.mat-form-field.mat-form-field-appearance-outline {
  .mat-form-field-infix {
    padding: 0.9em 0 0.9em 0;
    border-top-width: 0.3em;
  }

  .mat-form-field-label-wrapper {
    top: -0.65em;
    padding-top: 0.65em;
  }

  &.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
  &.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-1.4em) scale(0.75);
  }

  .mat-select-arrow-wrapper {
    transform: none;
  }

  .mat-form-field-prefix, .mat-form-field-suffix {
    top: .5em;
  }
}

mat-form-field.mat-form-field {
  width: 100%;
  font-size: 1rem;
  max-width: 400px;
}

mat-option.mat-option {
  .mat-option-text > * {
    line-height: 1;
  }
}

mat-pseudo-checkbox.mat-pseudo-checkbox {
  &:after {
    box-sizing: content-box;
  }
}

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button, .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
  width: 1.5em;
  height: 1.5em;
}
